<!DOCTYPE html>

<div class="container-fluid">
  <div class="row-fluid">
    <% @books.each do |book| %>
    <div class="span3">
      <div class="img"><%= link_to image_tag(book.photo_url), book_path(id: book.id) %></div>
      <h3><%= book.title %></h3>
      <h3><%= book.price %></h3>
    </div>
      <% end %>
  </div>
</div>

</html>
