
<div class="container">
    <div class="image">
      <div><%= image_tag(@book.photo_url) %></div>
    </div>
    <div class="details">
      <h2>Title:</h2>
      <h3><%= @book.title %></h3>
      <h2>Price:</h2>
      <h3>$<%= @book.price %></h3>
    </div>
</div>
