<h1>Carts#view</h1>
<p>Find me in app/views/carts/view.html.erb</p>

<table>
  <thead>
    <tr>
      <th>
        Item
      </th>
      <th>
        Quantity
      </th>
      <th>
        Per Item Price
      </th>
      <th>
        Total Price
      </th>
      <th>
        Remove
      </th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_items.each do |order_item| %>

    <tr>
      <td>
        <%= order_item.book.title %>
      </td>
      <td>
        <%= order_item.quantity %>
      </td>
      <td>
        <%= order_item.price %>
      </td>
    </tr>

    <% end %>
